ul.Menu {
    list-style: none;
    background: gray;
}

ul.Menu > li {
    float: left;
    margin-left: 3px;
}

ul.Menu::after {
    display: block;
    content: ' ';
    clear: both;
}

ul.Menu ul.SubMenu {
    list-style: none;
    position: relative;
}


.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}