/*clear ul style*/
.Tree, .Tree ul{
    list-style: none;
    padding-left: 20px;
}

.DirNode.Show.Open > span{
    background: rebeccapurple;
}

.DirNode.Show.Close > span{
    background: yellowgreen;
}